*{
    margin: 0px;
    padding: 0px;
}

html, body{
    height:100%;
}

body{
    display:flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
}

#cabecario{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 54px;
    background-color: white;
    border:1px solid rgb(211, 211, 211);
}

#me{
    width: 25px;
    border-radius: 100%;
    margin-left: 10px;
}

#instalogo{
    width: 100px;
    margin-right: 200px;
}

#pesquisa{
    justify-items: center;
    margin-right: 150px;
}

h3,h6,p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
}




#conta{
    display: flex;
    background-color: white;
    border:1px solid whitesmoke;
    border-radius: 3px;

}

#etc{
    width: 10px;
}

#comentarios{
    display: flex;
    flex-direction: column;
    background-color: white;
}

.iconeC{
    width: 20px;
    margin-left: 10px;
    
}

.iconeP{
    width: 20px;
    margin-right: 10px;
}

#save{
    width: 35px;
    margin-left: 110px;
}

#FTpost{
    width: 35%;
    height: 25%;
}

.fluxologo{
    width: 40px;
    border-radius: 100%;
    border: 1px solid rgb(219, 219, 219);
}

#pesquisa{
    width: 215px;
    border-radius: 3px;
    outline: none;
    justify-items: center;
    align-items: center;
}

#fundo{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgb(235, 235, 235);
}

#post{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    margin: 0px;
}

#infopost{
    display: flex;
    flex-direction: column;
    background-color: white;
    border:1px solid whitesmoke;
    border-radius: 5px;
}

#interacao{
    display: flex;
    background-color: white;
    border:1px solid whitesmoke;

}

#publicar{
    color: rgba(0, 107, 194, 0.26);
    background-color: white;
    border-color: white;
    outline: none;
}

#publicar:hover{
    color: blue;
}

#publicar:active{
    background-color: rgb(209, 208, 208);
    color:blue;
}